.flex{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-content: flex-start;align-items: center;}
.wrap{width: 94%;max-width: 1600px;margin: 0 auto;}
img{display: block; width:100%;}
.pc_none{display: none;}
.pc_show{display: block;}

#loading{opacity: 0;position: fixed;width: 100vw;height: 100vh;z-index: 1000;background: #fff;transition: 1s;}
#loading.on{opacity: 1;}
#loading.off{display: none;}
#loading .loading_box{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);opacity: 0;}
#loading .loading_box.on{opacity: 1;}
/* #loading .loading_box{position:absolute;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 3rem;height: 3rem;background: #fff;-moz-animation: loadingbox1 1s infinite ease;-webkit-animation: loadingbox1 1s infinite ease;animation: loadingbox1 1s infinite ease;} */
#layout_wrapper{}
#layout_wrapper .main{position: relative; width: 100vw;height: 100vh;min-height: 60rem;overflow: hidden;}
#layout_wrapper .main .main_head{position: absolute; top: 77%; left: 47.5%; transform: translate(-50%, -50%); z-index: 22;width: 8%;}
#layout_wrapper .main .main_head .hand_rotation .img_gif{display: block;}
#layout_wrapper .main .main_head .hand_rotation .img_png{display: none;}
#layout_wrapper .main .main_head .hand_rotation.on .img_gif{display: none;}
#layout_wrapper .main .main_head .hand_rotation.on .img_png{display: block;}
#layout_wrapper .main .main_bg{position: absolute; bottom: -20%; left: 50%; width: 1400px; transform: translateX(-50%);z-index: 20;}
#layout_wrapper .main .main_deco{position: absolute; transform: translate(-50%, -50%); z-index: 21;}
#layout_wrapper .main .main_deco a{display: block;width: 100%;cursor: pointer;}
#layout_wrapper .main .main_deco a img{display: none;}
#layout_wrapper .main .main_deco a .on{display: block;}
#layout_wrapper .main .deco1{width: 20%; top: 55%; left: 29.5%;}
#layout_wrapper .main .deco2{width: 2%; top: 80%; left: 23%;}
#layout_wrapper .main .deco3{width: 12%; top: 33%; left: 40%;}
#layout_wrapper .main .deco4{width: 11.5%; top: 42%; left: 49.7%;}

@-moz-keyframes loadingbox1 {
    0% {transform: translate(-50%, -50%) rotate(0deg);border-radius: 0;}
    50% {border-radius: 50%;}
    100% {transform: translate(-50%, -50%) rotate(360deg);border-radius: 0;}
}
@-webkit-keyframes loadingbox1 {
    0% {transform: translate(-50%, -50%) rotate(0deg);border-radius: 0;}
    50% {border-radius: 50%;}
    100% {transform: translate(-50%, -50%) rotate(360deg);border-radius: 0;}
}
@keyframes loadingbox1 {
    0% {transform: translate(-50%, -50%) rotate(0deg);border-radius: 0;}
    50% {border-radius: 50%;}
    100% {transform: translate(-50%, -50%) rotate(360deg);border-radius: 0;}
}
